head
	title blueID OIDC Tester
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel="stylesheet", href='/css/pure/0.6.0/pure-min.css')
	link(rel="stylesheet", href='/css/pure/0.6.0/layouts/side-menu.css')
